node_addon/build/
node_modules/

client/node_modules/
client/build/
client/web_dist/
client/scard_in.json
client/scard_in_2.json
client/scard_out_2.json
client/package-lock.json
client/scard_out_1.json
client/re_scard_in.json
client/re_scard_out.json
client/tmp/
client/work_temp/
client/chat_input/
client/recognition_node_addon/
client/scan_db/*.json

*.exe
*.dll
web/node_modules/

web/vector/

drives/ReleaseLib/
drives/ScanSnap/.vs/
drives/ScanSnap/ipch
drives/ScanSnap/obj/
drives/ScanSnap/Release
drives/ScanSnap/ScanSnap.sdf
drives/TwainDriver/TwainDriver.sdf
drives/TwainDriver/.vs/
drives/util/Release
drives/test/Release
drives/ScanSnap/ScanSnap.VC.opendb
idea/





